<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Carros</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Lista de Carros</h1>
    <a class="btn" href="/cadastro">Cadastrar Novo Carro</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Ano</th>
            <th>Modelo</th>
            <th>Potência</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.ano}"></td>
            <td th:text="${car.modelo}"></td>
            <td th:text="${car.potencia}"></td>
            <td>
                <a class="btn-small" th:href="@{'/editar/' + ${car.id}}">Editar</a>
                <a class="btn-small danger" th:href="@{'/excluir/' + ${car.id}}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>